body {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 50px;
    margin: 50px 500px;;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: purple;
    color: rgba(255, 255, 255, 0.886);
    font-size: 20px;

}

.gridBox {
    flex-basis: 6%;
    flex-grow: 1;
    flex-shrink: 1;
    border: 3px solid rgb(144, 0, 255);
    height: 100px;
    gap: 1px;

}


.gridBox:hover {
    background-color: magenta;
}