body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    width: 960px;
    height: 960px;
    margin: 0 auto;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 50px;
    margin: 50px 350px;
    background-color: purple;
    color: rgba(255, 255, 255, 0.886);
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.gridBox {
    flex-basis: 56px; /* for N # of items per row. Container width / N */
    flex-grow: 1;
    flex-shrink: 1;
    border: 2px solid rgb(144, 0, 255);
    height: 56px;
}

.gridBox:hover {
    background-color: magenta;
}