body {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.gridBox {
    flex-basis: 115px;
    flex-grow: 1;
    border: 3px solid rgb(144, 0, 255);
    width: 100%;
    height: 100px;
    gap: 1px;

}


.gridBox:hover {
    background-color: magenta;
}